* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0a0a4d;
}
header img {
  width: 150px;
  margin-left: 100px;
}
nav a {
  text-decoration: none;
  color: white;
}

header button {
  background-color: transparent;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #4b4b4d;
}

#sobre img {
  width: 600px;
  height: 490px;
  border-radius: 5px;
}

#sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 30px;
}

#descricao {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

#descricao img {
  display: block;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#descricao p {
  max-width: 600px;
  text-align: justify;
  font-family: poppins;
  font-size: 25px;
  margin: 0 auto;
  margin-bottom: 30px;
}
#projetos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

#boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.box-projeto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
}

.box-projeto p {
  margin-top: 30px;
  padding: 30px 0;
}

.box-projeto img {
  width: 250px;
  height: 150px;
  border: 1px solid black;
}
